.shoppingList {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .shoppingList h2 {
    margin: 0;
  }
  
  .shoppingList p {
    margin: 5px 0;
  }
  
  .shopping-list-item {
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .shopping-list-item p {
    margin: 0;
  }
  
  .add-item-button {
    background-color: #0077ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .add-item-button:hover {
    background-color: #0055aa;
  }
  
  .add-item-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .add-item-modal h3 {
    color: #fff;
  }
  
  .add-item-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .add-item-modal input,
  .add-item-modal select {
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #444;
    color: #fff;
  }
  
  .add-item-modal input:focus,
  .add-item-modal select:focus {
    outline: none;
    box-shadow: 0 0 5px #00f7ff;
  }
  
  .add-item-modal button[type="button"] {
    background-color: #0077ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-item-modal button[type="button"]:hover {
    background-color: #0055aa;
  }
  
  .add-item-modal button[type="button"]:last-child {
    background-color: #ff3333;
    margin-left: 10px;
  }
  
  .add-item-modal button[type="button"]:last-child:hover {
    background-color: #aa0000;
  }
  